<div class="home__container">
  <div class="home__header">
    <h1>{{ mensagem }}</h1>
  </div>
  <div class="home__filter">
    <mat-form-field>
      <mat-label>Filtrar por categoria:</mat-label>
      <select matNativeControl [(ngModel)]="filtroSelecionado" (change)="filtrar()">
        <option value="todos">Todos</option>
        @for (cat of categorias$ | async; track $index) {
          <option [value]="cat._id">{{ cat.nome }}</option>
        }
      </select>
    </mat-form-field>
  </div>

  <div class="home__cards">
    @for (pauta of pautas$ | async; track $index) {
      <div class="home__card">
        <h3>{{ pauta.titulo }} ({{ pauta.categoria.nome }})</h3>
        <p>{{ pauta.descricao }}</p>

        <div class="home__card__bottom">
          <span
            >Expira em: {{ pauta.dataExpiracao | date: 'dd/MM/yyyy' }} às
            {{ pauta.dataExpiracao | date: 'HH:mm' }}</span
          >
          <button (click)="abrirDetalhe(pauta)" matButton="outlined">acessar</button>
        </div>
      </div>
    }
  </div>
</div>
