<div class="lista-usuario__container">
  <button (click)="cadastrarUsuario()" matButton="filled">cadastrar novo usuário</button>

  <h2>
    @if (mensagem()) {
      {{ mensagem() }}
    }
  </h2>

  <div>
    <table cellspacing="0" cellpadding="8" style="width: 100%; margin-top: 20px">
      <thead style="background: #f5f5f5">
        <tr>
          <th>Usuário</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Email</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
        @for (usuario of listaUsuarios(); track $index) {
          <tr>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.cpf }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.isAdmin ? 'Administrador' : 'Usuário comum' }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
